@page "/matches"

@using TourManager.Data
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json
@inject StateContainer StateContainer
@inject IJSRuntime JSRuntime

<h1>Matches</h1>
<h2>Round #</h2>

<!-- Round Overview and Creation -->
<div class="row">
    <div class="col-md-3">
        <label style="font-weight: bold;">Current Round: @StateContainer.currentTournament.CurrentRound</label>
    </div>
</div>
<div>
    <button class="btn btn-primary" type="button" @onclick="NewRound">New Round</button>
</div>

<!-- Get Round -->
<div class="row">
    <div class="col-md-3">
        <label style="font-weight: bold;">Enter Round Number</label>
    </div>
    <div class="col-md-4">
        <input placeholder="@StateContainer.currentTournament.CurrentRound" @bind="@RoundNumber" class="form-control" />
    </div>
</div>
<!-- Get Button -->
<div class="col-md-2">
    <button @onclick="GetRound" class="btn btn-outline-success">Find Matches</button>
</div>
<br />
<!-- Show matches -->
<div class="container">
    <div class="row">
            <!-- Need Heading and format as a table -->
            <div class="col">
                <!-- Label for which table they are playing at -->
                <label>Table</label>
            </div>
            <div class="col">
                <!-- Label for player 1 -->
                <label>Player 1</label>
            </div>
            <div class="col">
                            <!-- Label for vs -->
            <label>vs</label>
            </div>
            <div class="col">
                            <!-- Label for player 2 -->
                <label>Player 2</label>
            </div>
            <div class="col">
                <label>Report</label>
            </div>
    </div>
    <!-- Display players -->
    @foreach (var Match in RoundSelected.Matches)
    {
        <div class="row">
            <div class="col">
                <!-- Label for displaying table number -->
                <label>@Match.Table</label>
            </div>
            <div class="col">
                <!-- Label for displaying player 1 -->
                <label>@Match.Player1.Name</label>
            </div>
            <div class="col">
                <!-- hold for vs -->
                <label class="form-check-label">vs</label>
            </div>
            <div class="col">
                <!-- Label for displaying player 2 -->
                <label>@Match.Player2.Name</label>
            </div>
            <div class="col">
                <button @onclick="() => Report(Match, P1)" class="btn btn-outline-success">@Match.Player1.FirstName win</button>
                <button @onclick="() => Report(Match, P2)" class="btn btn-outline-success">@Match.Player2.FirstName win</button>
                <button @onclick="() => Report(Match, Draw)" class="btn btn-outline-success">Draw</button>
            </div>
        </div>
    }
</div>

@code {
    //variables
    public string P1 = "P1";
    public string P2 = "P2";
    public string Draw = "Draw";
    public int RoundNumber;
    public Round RoundSelected = new Round(0); 
    //methods
    public async void GetRound()
    {
        RoundSelected = StateContainer.currentTournament.RoundList[RoundNumber-1];
    }
    public async void Report(Match match, string winner)
    {
        match.EnterResult(winner);
    }
    //start new round
    //create round counter
    private async Task NewRound()
    {
        if (StateContainer.currentTournament.PlayerList.Any())
        {
            StateContainer.currentTournament.NewRound();
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("No Players", "No Players are registered", "OK");
        }
    }
}
