@page "/standings"
@using TourManager.Data
@inject IJSRuntime JSRuntime
@inject StateContainer StateContainer

<h1 class="mt-6">Standings</h1>
<p>Current Tournament: <b>@StateContainer.currentTournament.Name</b></p>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <!-- Need Heading and format as a table -->
            <div class="row">
                <div class="col">
                    <!-- Label for displaying placement -->
                    <label class="form-check-label">Position</label>
                </div>
            <div class="col-md-4">
                <!-- Label for displaying player name -->
                <label class="form-check-label">Name</label>
            </div>
            <div class="col">
                <!-- Label for displaying player Score -->
                <label class="form-check-label">Score</label>
            </div>
            <div class="col">
                <!-- Label for displaying player Wins -->
                <label class="form-check-label">Wins</label>
            </div>
            <div class="col">
                <!-- Label for displaying player Draws -->
                <label class="form-check-label">Draws</label>
            </div>
            <div class="col">
                <!-- Label for displaying player Losses -->
                <label class="form-check-label">Losses</label>
            </div>
            </div>
            <!-- Display players -->
            @foreach (var Player in StateContainer.currentTournament.PlayerList)
            {
                Rank++;
                @if (Player.LastName != "bye")
                {
                    <div class="row">
                        <div class="col">
                        <!-- Label for displaying placement -->
                        <label class="form-check-label">@Rank</label>
                        </div>
                        <div class="col-md-4">
                        <!-- Label for displaying player name -->
                        <label class="form-check-label">@Player.Name</label>
                        </div>
                        <div class="col">
                        <!-- Label for displaying player Score -->
                        <label class="form-check-label">@Player.Score</label>
                        </div>
                        <div class="col">
                        <!-- Label for displaying player Wins -->
                        <label class="form-check-label">@Player.Wins</label>
                        </div>
                        <div class="col">
                        <!-- Label for displaying player Draws -->
                        <label class="form-check-label">@Player.Draws</label>
                        </div>
                        <div class="col">
                        <!-- Label for displaying player Losses -->
                        <label class="form-check-label">@Player.Losses</label>
                        </div>
                    </div>
                }
            }
            <br />
            <!-- Button for update standings -->
            <button class="btn btn-primary ms-2" @onclick="() => Update()">Update</button>
            <!-- Button for printing standings -->
            <button class="btn btn-outline-primary ms-2" @onclick="() => Print()">Print</button>
        </div>
    </div>
</div>

@code {
    public int Rank = 0;
    //add update method
    public void Update()
    {
        //reset rank
        Rank = 0;
        StateContainer.currentTournament.RankPlayers();
    }
    //add print method
    public void Print()
    {
        //reset rank
        Rank = 0;
        //create file
        string filename = Path.Combine(FileSystem.AppDataDirectory, $"{StateContainer.currentTournament.Name}");
        string header = $"{"Name":25} {"Score":25} {"Wins":25} {"Draws":25} {"Losses":25}";
        File.WriteAllText(filename, header);
        //add players
        foreach (Player player in StateContainer.currentTournament.PlayerList)
        {
            //convert to object and print
            string line = player.ToString();  
            File.AppendAllText(filename, line);  
        }
    }
}
